
  body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
  }
  
  .btn {
    background-color: chocolate;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 32px;
    width: 200px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .container {
    width: 80%;
    margin: auto;
    padding: 100px 0;
  }

  .service__bild img {
    width: 50%;
    align-items: center;
  }
  
  h1 {
    color: white;
    font-size: 65px;
    margin: 40px;
  }
  
  h2 {
    font-size: 50px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
  }
  

  header {
    background-image: url("../images/bookbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
  }
  
  
  header a {
    color: white;
    border: white solid;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
  }
  

  .service__cards {
    display: flex;
    justify-content: center;
    align-items: top;
  }

  .service__card {
    max-width: 30%;
    width: 100%;
    
  }
  
  .icon {
    margin: 40px;
  }
  
  .icon {
    font-size: 150px;
  }
  
  
  .container__about {
    background-color: #dcdcdc;
  }
  
  footer {
    background-color: #151515;
    color: white;
  }