
  * {
    box-sizing: border-box;
  }

  body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }

  .container {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section {
    padding: 5% 0;
    max-width: 85%;
  }

  img {
    width: 100%;
  }
  
  h1 {
    color: white;
    font-size: 50px;
    margin: 40px;
  }
  
  h2 {
    font-size: 42px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
  }
  
  .container__header {
    justify-content: center;
  }

  header {
    background-image: url("../images/bookbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .btn {
    background-color: rgb(0,0,0,0);
    border: none;
  }

  .btn a {
    color: white;
    border: white solid;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
  }

  .section__btn-second a {
    color: #000;
    border-color: #000;
    border-width: 1px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
  }
  

  .service__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service__card {
    margin: 2%;
    width: 100%;
    
  }

  
  .icon {
    font-size: 4em;
    margin-top: 3%;
  }
  
  
  .container__about, .container__testimonials{
    background-color: #dcdcdc;
  }
 
.section__testimonials {
  max-width: 80%;
}

.card:not(.active) {
  display: none;
}
  
  footer {
    background-color: #151515;
    color: white;
    width: 100%;

  }

  .container__footer {
    display: flex;
    justify-content: center;
  }